
  <div class="container">
      <div class="row">
        <div class="col text-center">
      <h1 style="margin-top: 30px;" class=display-4>Ronatio Parhorasan Silaban</h1>
      <p class="lead">Peserta Bootcamp Batch 3</p>
      <img src="../public/profiles.jpeg" alt="" class="rounded"style="max-width:500px; margin-bottom: 100px;">
    </div>
  </div>
</div>


