
  <div class="container">
    <% if(typeof errors != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
            <% }); %>
          </ul>
        </div>
        <% } %>
    <h1 style="margin-top: 30px;">Web Server Node Js </h1>
    <h2>Add New Data</h2>
  </div>
<div>
  <form action="/add" method="post">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Name :</span>
        <input type="text" class="form-control" name="name" placeholder="name"aria-describedby="basic-addon1" required>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Number :</span>
        <input class="form-control" name="number" type="number" placeholder="number"aria-describedby="basic-addon1" required>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Email :</span>
        <input class="form-control" name="email" type="email" placeholder="email"aria-describedby="basic-addon1" required>
      </div>
      <button type="submit" class="btn btn-success" >Submit</button>
  </form>
</div>
